.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
   
}
.navbar .logo{
    width:max(5%,30px);
    height: max(5%,30px);
}
.navbar .profile{
    width: 30px;
}